@import '~antd/dist/antd.dark.css';

body {
  background-color: #121212;
  font-family: 'Noto Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

.entry {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  transform: translate(-50%, -50%);
}

.entry__title {
  margin: 10px 0;
}

.entry__error {
  color: #cc3233;
}

.entry__message {
  color: black;
}

.entry__input {
  margin: 20px 0;
}

.entry__button {
  width: 100%;
  text-transform: uppercase;
}

.entry__links {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

.main {
  position: absolute;
  top: 0;
  background-color: #131313; /* #161411;*/
  width: 100%;
  height: 100%;
  color: #bababa;
  font-size: 1.6vw;
}

.pagination {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 9%;
}

.pagination__icon {
  font-size: 1.8vw;
  margin: 0 5px;
  transition: color 0.5s ease;
}

.pagination__icon:hover {
  color: #40a9ff;
}

.gameView {
  position: absolute;
  top: 0;
  background-color: #131313; /* #161411;*/
  width: 100%;
  color: #bababa;
  font-size: 1.6vw;
  min-height: 100%;
  height: auto;
}

#challenge__box {
  margin: 130px auto;
  background-color: #262320;
  width: 50%;
  height: 60%;
  overflow: scroll;
}

.challenge__items {
  background-color: grey;
  margin: 15px;
  color: white;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.challenge__items:hover {
  background-color: #40a9ff;
}

.button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#menuAlt {
  color: #bababa;
  background-color: #3c3934;
}

#menu {
  margin-top: 20px;
  float: right;
}

.menu__item {
  padding: 15px 30px;
  cursor: pointer;
  color: #bababa;
}

.menu__item:hover {
  background-color: #2f2d29;
  color: white;
}

.container {
  margin: 50px;
  padding: 30px;
  background-color: #262320;
}

.profile__username {
  font-size: 2.5vw;
  margin-bottom: 20px;
}

.profile__graph {
  background-color: #302d2b;
  width: 50%;
}

.profile__info {
  padding: 20px;
  text-align: center;
}

.profile__biography {
  margin: 20px;
  padding: 15px;
  font-size: 1.2vw;
  border-top: 1px solid;
}

.profile__gamelist {
  margin: 0 auto;
}

.profile__game {
  background-color: #302d2b;
  font-size: 1.2vw;
  margin-top: 15px;
  margin-left: 25%;
  padding: 15px;
  border-radius: 15px;
  width: 50%;
  transition: background-color 0.5s ease;
}

.profile__game:hover {
  background-color: #433f3c;
}

.profile__count {
  margin: 40px;
  padding: 5px;
  background-color: rgba(64, 169, 255, 0.7);
}

.profile__searchfield {
  width: 13vw;
  border: none;
  font-size: 1.2vw;
}

.profile__searchfield:focus {
  box-shadow: none;
}

.profile__searchicon {
  margin: 3px;
  translate: ;
}

.edit__title {
  font-size: 2.5vw;
  color: #d44e02;
}

.edit__label {
  font-size: 1.4vw;
  margin-bottom: 6px;
}

.notification {
  position: absolute;
  width: 34%;
  top: 50%;
  left: 33%;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.3vw;
  background-color: #131313;
  border: 0.5px solid #303030;
  border-radius: 2px;
  padding: 20px;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.notification:hover {
  background-color: #629923;
}

.gamewindow-header {
  height: 65px;
  background-color: #262320;
  font-size: 25px;
}

.gamewindow-header img {
  width: 35px;
  height: 35px;
  margin: 10px;
}

.info-chat-box {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #433e3c;
  border-radius: 17px;
}

.infobox {
  margin: 20px;
  flex-basis: auto;
  flex-grow: 1;
  height: max-content;
  min-height: 200px;
  min-width: 200px;
  width: max-content;
  padding: 10px;
  font-size: 15px;
  background-color: #433e3c;
  border-radius: 5px;
  color: white;
}

.infoboxrow {
  margin: 15px;
  width: 100%;
  align-items: middle;
}

.infoboxiconcontainer {
  display: inline-flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  offset: 2;
}

.flag {
  width: 30px;
  height: 20px;
  display: block;
}

.sicon {
  width: 20px;
  height: 20px;
  display: block;
}

.sendbutton {
  width: auto;
  background-color: #59afff;
  height: 100%;
  border-radius: 10px;
  color: white;
  border: 0;
}

.sendbutton:hover {
  background-color: rgb(157, 214, 247);
}

.sendbutton:active {
  background-color: grey;
}

.sendbutton img {
  width: 19px;
  height: 19px;
}

.boardview {
  width: fit-content;
  height: fit-content;
  margin: 20px;
  border-radius: 1.5%;
  overflow: hidden;
}

.gamewindow-contentview {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 2;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.player-info-box-v {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
}

.player-info-box-h {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.chatInput {
  display: block;
  background-color: #f0f0f0;
  flex-grow: 1;
  height: auto;
  font-size: 12px;
  border-radius: 10px;
  margin: 2.5px;
  margin-top: 0;
  border: 0;
  padding-left: 10px;
  padding-right: 10px;
  color: #262320;
  overflow: auto;
}

.chatInput:focus {
  outline: none;
}

.chatboxbutton {
  width: auto;
  margin: 2.5px;
  margin-top: 0;
  background-color: #1a5ee8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  border-radius: 5px;
  border: 0;
  color: white;
  font-size: 15px;
}

.chat__message {
  background-color: #808080;
  border-radius: 15px;
  min-width: 15vw;
  max-width: inherit;
  display: inline-block;
  padding: 5px 10px;
  word-wrap: normal;
}

.chat__message__user {
  font-size: 10px;
  color: black;
  font-weight: bold;
}

.close {
  background-color: white;
  height: fit-content;
  float: right;
  width: fit-content;
  opacity: 0.5;
  border: 0;
  font-size: 17px;
  text-decoration: underline;
  color: #333;
}

.close:hover {
  opacity: 1;
}

.popupbutton {
  background-color: #4057f5;
  color: white;
  width: auto;
  float: right;
  font-size: 25px;
  border: 0;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.endgame__popup {
  min-width: 400px;
  width: fit-content;
  height: fit-content;
  background: #181818;
  border: 0;
  border-radius: 5px;
  padding: 20px;
  color: white;
  font-size: 35px;
}

.endgame__info {
  text-align: center;
  font-size: 20px;
}
